<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="temp.css">
    <script src="temp.js"></script>
</head>

<body>
    <!-- <div id="parent">
        <div id="header" class="common">Header</div>
        <div id="menu" class="common">Menu</div>
        <div id="main" class="common">Main</div>
        <div id="side" class="common">Side</div>
        <div id="image" class="common">Image</div>
        <div id="footer" class="common">Footer</div>
    </div> -->
    <!-- <div id="out">
        <div id="one">box1</div>
        <div id="two">box2</div>
        <div id="three">box3</div>
    </div> -->
    <!-- <div class="out">
        <div class="in1">Box 1</div>
        <div class="in2">Box 2</div>
        <div class="in3">Box 3</div>
    </div> -->
    <!-- <div id="one">
        <div id="two">
            <div id="three"></div>
            <div id="four"></div>
        </div>
    </div> -->
    <!-- <p style="direction: rtl;">انا مصطفي.... ؟</p>
    <form action="">
        <label for="name"> Name:</label>
        <input type="text" id="name">
        <input type="email">
        <input type="password">
        <input type="checkbox">
        <input type="radio" name="payment">
        <input type="radio" name="payment">
        <input type="radio" name="payment">
        <input type="number">
        <br>
        <label for="way">what way u heared about us:</label>
        <select id="way">
            <option value="Google"> google</option>
            <option value="college"> college</option>
            <option value="friend"> friend</option>
        </select>
        <h4>describe messi</h4>
        <textarea name="messi" id="messi" cols="20" rows="5"></textarea>
        <button type="submit">click</button><br>
        <fieldset>
            <legend>headline</legend>
            <label for="nam"> Name:</label>
            <input type="text" id="nam">
            <button type="submit">click</button><br>
        </fieldset>
    </form>
    <div style="background-color: red;">
        welcome
    </div>
    <h1>Heading</h1>
    <p>we will create <strong>our first <span>page</span></strong> today</p>
    <h2>Full-stack includes:</h2>
    <ol>
        <li class="one">FrontEnd</li>
        <li>BackEnd</li>
    </ol>
    <h2>FrontEnd includes:</h2>
    <ul>
        <li class="one">HTML</li>
        <li class="one">CSS</li>
        <li id="three">JavaScript</li>
    </ul>
    <a href="https://www.google.com/">Google</a>
    <input type="text" placeholder="enter name">
    <input type="number">
    <br>
    <select>
        <option> ney</option>
        <option> leo</option>
        <option> suarez</option>
    </select>
    <h3>Your Details</h3>
    <label for="name">Name:</label>
    <input type="text" placeholder="enter ur name">
    <br>
    <label for="mail">Email:</label>
    <input type="text" placeholder="enter ur mail">
    <hr>
    <h3>Your Review</h3>
    <label for="info">How did you hear about us?</label>
    <select>
        <option> google</option>
        <option> college</option>
        <option> friend</option>
    </select>
    <br>
    <br>
    <label for="fd">Would u visit again?</label>
    <br> -->
</body>

</html>